<script type="text/template" id="js-tmpl-sysmonitor-system-info">
    <div class="row">
        <div class="col-lg-6">
            <h3>General:</h3>
            <p><strong>Boot time:</strong> <%= boot_time %></p>
        </div>
        <div class="col-lg-6">
            <h3>CPU:</h3>
            <% _.each(cpu, function(c) { %>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" style="width: <%= c %>%"></div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>RAM:</h3>
            <p><strong>Total:</strong> <%= virtual_memory.total %>; <strong>Used:</strong> <%= virtual_memory.used %></p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" style="width: <%= virtual_memory.percent %>%"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>SWAP:</h3>
            <p><strong>Total:</strong> <%= swap_memory.total %>; <strong>Used:</strong> <%= swap_memory.used %></p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" style="width: <%= swap_memory.percent %>%"></div>
            </div>
        </div>
    </div>

    <h3>Disks:</h3>
    <% _.each(disks, function(disk) { %>
        <p><strong>Mountpoint:</strong> <%= disk.mountpoint %>; <strong>Total:</strong> <%= disk.total %>; <strong>Used:</strong> <%= disk.used %></p>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" style="width: <%= disk.percent %>%"></div>
        </div>
    <% }); %>

    <h3>Processes:
        <% _.each(processes[1], function(count, status) { %>
            <span class="label label-default"><%= status %>: <%= count %></span>
        <% }); %>
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>PID</th>
                <th>User</th>
                <th>NI</th>
                <th>CPU%</th>
                <th>MEM%</th>
                <th>Time+</th>
                <th>Command</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(processes[0], function(process) { %>
            <tr>
                <td><%= process.pid %></td>
                <td><%= process.username %></td>
                <td><%= process.nice %></td>
                <td><%= process.cpu_percent %></td>
                <td><%= process.memory_percent %></td>
                <td><%= process.cpu_times_system %></td>
                <td><%= process.name %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>
