COMMON: &common
    PROJECT: rpihelper
    DEBUG: False
    TESTING: False
    SECRET_KEY: insecure

DEVELOPMENT: &development
    <<: *common
    DEBUG: True

TESTING: &testing
    <<: *development
    TESTING: True
    CSRF_ENABLED: False
