{% extends 'layouts/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
    <h2>Services</h2>
    {% if services -%}
    <table id="js-services-content" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services -%}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td><a href="{{ service.url }}">{{ service.url }}</a></td>
                <td>
                    <button type="button" class="btn btn-default js-services-call-command"
                            data-service="{{ service.name }}" data-command="start">Start</button>
                    <button type="button" class="btn btn-default js-services-call-command"
                            data-service="{{ service.name }}" data-command="stop">Stop</button>
                </td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">
        <strong>Ops!</strong> Services not found...
    </div>
    {%- endif %}
{% endblock %}

{% block extra_scripts %}
    {% include 'services/_scripts.html' %}
{% endblock %}
