<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RPiHelper">
    <meta name="author" content="Nikita Grishko">

    <title>{% block title %}{% endblock %} - RPi Helper</title>

    {% if config.DEBUG -%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/css/bootstrap/bootstrap.css') }}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/css/bootstrap/bootstrap.min.css') }}">
    {%- endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/css/style.css') }}">
</head>

<body>
    <div class="container-main">
        <div class="container-narrow">
            {% include 'components/_header.html' %}

            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'components/_footer.html' %}

    {% include 'components/_base_pluginscripts.html' %}
    {% block extra_pluginscripts %}{% endblock %}
    {% include 'components/_base_scripts.html' %}
    {% block extra_scripts %}{% endblock %}

    {% block extra_templates %}{% endblock %}
</body>
</html>
