<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='plugins/js/jquery/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='plugins/js/underscore/underscore-min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='plugins/js/backbone/backbone-min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='plugins/js/bootstrap/bootstrap.min.js') }}"></script>
